* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    background: #FF9B61;
    color: white;
    font-family: sans-serif;
    position: relative;
}

#title, #subtitle {
    margin: 3px;
    position: absolute;
    bottom: 0;
}

#title {
    font-size: 2.5em;
    left: 0;
}

#subtitle {
    font-size: 1.3em;
    right: 0;

}

#content, #postView {
    width: 80%;
    padding-left: 10%;
}

#postHeading {
    font-size: 3em;
}

#postView {
    margin-top: 1%;
    display: none;
}

#postContent {
    margin: 10px;
}

#closePost {
    position: fixed;
    right: 3%;
    font-size: 2em;
    cursor: pointer;
}

.postPreview {
    padding: 15px;
    background: #00B2B2;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.heading, .date, .preview {
    color: white;
    font-family: sans-serif;
}

.date {
    float: right;
    margin-top: 5px;
}

.postPreview > hr {
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px 0;
}

.preview > p {
    margin: 5px 0;
}

#postHeading {
    width: 80%;
}

.heading, .date, #postHeading {
    display: inline-block;
}
