* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    background: #FF6B15;
    color: white;
    font-family: sans-serif;
    position: relative;
}

#title, #subtitle {
    margin: 3px;
    position: absolute;
    bottom: 0;
}

#title {
    font-size: 2.5em;
    left: 0;
}

#subtitle {
    font-size: 1.3em;
    right: 0;

}

#content, #postView {
    width: 80%;
    padding-left: 10%;
}


#postView {
    margin-top: 1%;
    display: none;
}

#postContent {
    margin: 10px;
}

#closePost {
    position: fixed;
    right: 3%;
    top: 15%;
    font-size: 2em;
    cursor: pointer;
    font-family: monospace;
    padding: 0 5px 1px;
    background: #FF6B15;
    border-radius: 3px;
    color: white;
}

.postPreview {
    padding: 15px;
    background: #00B2B2;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.heading, .date, .preview {
    color: white;
    font-family: sans-serif;
}

.heading {
    font-size: 1.5em;
}

.date {
    float: right;
    margin-top: 5px;
    font-size: 1em;
}

.postPreview > hr {
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px 0;
}

.preview > p {
    margin: 5px 0;
}

.heading, .date, #postHeading, #postDate {
    display: inline-block;
}

#postHeading, #postDate {
    font-family: sans-serif;
    color: #FF6B15;
}

#postHeading {
    font-size: 3em;
}

#postHeader hr {
    border: 2px solid #00B2B2;
    border-radius: 3px;
}

#postDate {
    font-size: 1.5em;
    margin-top: 20px;
    float: right;
}

#postContent > * {
    margin: 15px 0;
}

#postContent h1, #postContent h2, #postContent h3, #postContent h4, #postContent h5, #postContent h6 {
    font-family: sans-serif;
}

#postContent h1 {
    color: #FF7B2E;
}

#postContent h2 {
    color: #B24607;
}

#postContent > ol > li, #postContent > ul > li {
    padding: 5px 0;
}

#postContent hr {
    border: 2px solid #00B2B2;
    margin: 20px 0;
}
