.container {
  width: calc(100%-10%);
  height: 100%;
  margin: 0 10%;
}
.form-group {
  display: block;
  width: 100%;
}
.form-group label {
  display: block;
  font-weight: bold;
}
.form-group .form-control {
  display: block;
  max-width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 2em;
}
.form-text {
  display: block;
}
.text-muted: {
  font-size: 0.7em;
}
.btn {
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background: #00aadd;
  color: white;
}
@keyframes slidefade {
  from { top: -300px; opacity: 0; }
  to { top: 0; opacity: 1; }
}
.modal-content {
  width: 80%;
  margin: auto;
  padding: 0px;
  background: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  animation-name: slidefade;
  animation-duration: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header, .modal-footer {
  padding: 2px 16px;
  background: #00aadd;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  overflow: auto;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10%;
}

.show {
  display: block;
}
.no-scroll {
  overflow: none;
}
@media screen and (max-width: 720px) {
  .modal-content {
    width: 100%;
  }
  .form-group .form-control {
    width: 100%;
    max-width: 100%;
  }
}
